// Font family
$font: 'Roboto';

// Font Weight
$fw500: 500;
$fw600: 600;
$fw700: 700;
$fw800: 800;
$fw900: 900;

// Colors
$black: #000000;
$black2: rgba(0, 0, 0, 0.8);
$blue: #0BB1D3;
$grey: #707070;
$white1: rgba(255, 255, 255, 0.90);;
$white2: rgba(255, 255, 255, 0.92);
$white3: rgba(255, 255, 255, 0.99);
