.WorkSectionTitle {

    font-weight: $fw600;
    margin: 8em;
    margin-bottom: 4.5em;
    margin-left: 10em;
    margin-right: 10em;

    h2 {

        padding-bottom: 0.3em;
        border-bottom: 2px solid #707070;
        font-weight: $fw600;
        font-size: 2em;
    }
}